body{
    overflow-x: hidden;
}

.error-message{
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
}

li{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.4s;
}

.action span{
    font-size: clamp(1.7rem,1.70vw,2rem);
}

.btn-menu{
    display: none;
    position: absolute;
    top: 80px;
    right: 110px;
}



.logo{
    position: absolute;
    top: 20px;
    left: 50px;
    object-fit: cover;
    width: clamp(13rem,12.5vw,15rem);
    height: 8rem;

}

.link{
    font-size: clamp(1.1rem,1.30vw,1.25rem);
    font-weight: 600;
    height: 30px;
}

.link:hover{
    border-bottom: 2px solid #FF9A00;
}

.link a{
   text-decoration: none;
   color: black;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action{
    width: 2.438rem;
    height: 2.125rem;
}

.action img{
    width:clamp(2.3rem, 2.2vw,2.6rem)
}

.list-links{
    display: flex;
    justify-content: space-between;
    width: 400px;
    box-sizing: initial;
}

.list-actions{
    display: flex;
    width: 100px;
    justify-content: space-between;
    box-sizing: initial;
}

.login{
    position: absolute;
    left: 40vw;
    top: 200px;
}

li{
    cursor: pointer;
}


.logout{
    position: absolute;
    top: 110px;
    right: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout-btns{
    display: flex;
    justify-content: end;
    gap: 30px;
    width: max-content;
}

.adminpage-btn{
    border: 0;
    background-color: #FF9A00;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.logout-btn, .login-btn{
    border: 0;
    background-color: #FF9A00;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.logout-btn:hover{
    cursor: pointer;
}

.container-basket{
    border-left: 5px solid #FF9A00;
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(350px, 26vw,500px);
    background-color: white;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    z-index: 9999;
    overflow: auto;
}

.sup{
    display: none;
}

.container-form-connexion{
    position: absolute;      
    top: 50%;               
    left: 50%;              
    transform: translate(-50%, -50%);
    background-color: #FF9A00;
    padding: 20px;
    border: 2px solid #fff;
}

.container-form-connexion form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container-form-connexion form input{
    height: 30px;
    border: 0;
}

.container-form-connexion form input[type=submit]{
    color: #FF9A00;
    background-color: #fff;
    border: 0;
    height: 30px;
    border-radius: 20px;
    font-weight: 500;
    margin-top: 30px;
}

.container-basket-close{
    border-left: 5px solid #FF9A00;
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 100vh;
    transform: translateX(500px);
    transition: transform 0.8s ease-in-out;    
    overflow: hidden;
    z-index: 9999;
}

.container-basket>span, .container-basket-close>span{
    position: absolute;
    top: 1vw;
    left: 25px;
    font-size: clamp(1.5rem,1.5vw,2rem);
    color: #FF9A00;
}
.container-basket>span:hover{
    cursor: pointer;
}

.container-basket h1, .container-basket-close h1{
    text-align: center;
    font-size: clamp(1.5rem,1.5vw,2rem);
}

.container-basket h2, .container-basket-close h2{
    text-align: center;
    font-size: clamp(1rem,1.3vw,1.5rem);
    color: #FF9A00;
}

.basket-item{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.basket-item .container-btn-item{
    display: flex;
    gap: 10px;
}

.basket-item .container-btn-item button{
    background-color: white;
    border: 2px solid #FF9A00;
    color: #FF9A00;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
}
.basket-item .container-btn-item button:hover{
    background-color: #FF9A00;
    color: #fff;
}

.basket-item p {
    font-weight: bold;
}

.total-price{
    text-align: end;
    margin-right: 20px;
}

.basket-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.container-basket-product{
    height: 65vh;
    overflow: auto;
}

.container-basket-form form{
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-basket-form p {
    text-align: center;
    margin: 0;
}

.container-basket-form form{
    gap: 20px;
}

.container-basket-form input, .container-basket-form select{
    width: 320px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #FF9A00;
    padding-left: 20px;
}

.container-form-fullname{
    display: flex;
    flex-direction: row!important;
    gap:20px;
}

.container-form-fullname input{
    width: 150px!important;
}

input[type=submit]{
    background-color: #FF9A00;
    color: #fff;
    width: 150px;
}

.basket-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basket-empty span{
    font-size: clamp(3rem,4.16vw,5rem);
    color: lightslategray;
}

.basket-empty p{
    font-weight: bold;
    font-size: clamp(12px,0.8vw,16px);
}

.container-basket-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-basket-button button {
    --color: #FF9A00;
    font-family: inherit;
    display: inline-block;
    width: clamp(150px,15.6vw,300px);
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: clamp(13px,0.9vw,17px);
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    border-radius: 20px;
    background-color: white;
   }
   
   .container-basket-button button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 350px;
    border-radius: 50%;
   }
   
   .container-basket-button button:hover {
    color: #fff;
   }
   
   .container-basket-button button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .container-basket-button button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:hover{
    cursor: pointer;
   }

   .btn-close-menu, .container-btn-close-menu{
    display: none;
   }

   .container-basket-button button:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed; 
    border: 1px solid #999999; 
}

.container-basket-button button:disabled:hover {
    background-color: #cccccc; 
    color: #666666; 
    border: 1px solid #999999; 
}  
.container-basket-button button:disabled::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #666666!important;
    height: 0px;
    width: 0px;
    border-radius: 50%;
   }

   @media screen and (max-width: 1025px) {

    .container-nav-mobil{
        margin-bottom: 150px;
    }
        .btn-menu{
            display: block;
            font-size: 1.7rem;
        }
        .btn-menu:hover{
            cursor: pointer;
        }

        .navbar-close{
            position: absolute;
            top: 0;
            left: 0;
            height: 0px;
            background-color: #FF9A00;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
}

        .navbar-open{
            position: absolute;
            top: 0;
            left: 0;
            height: 270px;
            background-color: #FF9A00;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .list-links{
            flex-direction: column;
            text-align: center;
            width: 100px;
            padding: 0;
        }

        .link a{
            color: #fff;
        }

        .list-actions{
            margin: 0;
            color: #fff;
            padding: 0;
            width: 100px;
            margin-bottom: 65px;
        }

        .action{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container-btn-close-menu{
            display: block;
        }
        .container-btn-close-menu:hover{
            cursor: pointer;
        }

        .btn-close-menu{
            display: block;
            color: #fff;
            border: 2px solid white;
            border-radius: 50%;
        }

        .logout{
            top: 180px;
            left: 50%;
            transform: translateX(-50%);
            background-color: transparent;
            border: 0;
        }

        .logout{
            width: 255px;
            text-align: -webkit-center;
        }
        
        .logout-btns a, .logout-btns button{
            font-weight: 700;
            font-size: 16px;
        }
   }

   @media screen and (max-width: 825px) {

    
    body{
        overflow-x: hidden;
    }

    .btn-menu{
        right: 50px;
    }

    .logo{
        left: -20px;
    }

    .container-basket{
        height: 100%;
    }

    .container-basket-product{
        height: 60vh;
    }

    .container-basket-form{
        height: 60vh;
    }
   }