.container-card-order{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    width: clamp(28rem,37.5vw,45rem);
}

.title-order{
    text-align: center;
    margin-top: 50px;
}

.card-order{
    background-color: #DCDCDC;
    padding: 20px;
    height: 300px;
    position: relative;
    
}

.section-card-order{
    display: flex;
    justify-content: space-between;
}

.order{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 200px;
}

.product-order p{
 margin: 5px;
}

.total-order{
    font-weight: bold;
    margin-top: 30px;
    text-align: end;
}

.text-empty-order{
    text-align: center;
}

.delete-order{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    border: 0;
}

.order-info-client p{
    font-size: 1rem;
}

.bold{
    font-weight: bold;
}

.card-order h2{
    font-size: clamp(1.2rem,2.08vw,1.5rem);
}

@media screen and (max-width: 750px) {
    .section-card-order{
        flex-direction:column-reverse;
    }

    .container-card-order{
        justify-content: center;
        align-items: center;
    }

    .card-order{
        height: 500px;
        width: 300px;
    }

    .order{
        height: 200px;
        max-height: 200px;
        overflow: auto;
    }
}
