*{
    box-sizing: border-box;
}

.navigation-cards select{
    width: clamp(10rem,11.45vw,13.75rem);
    height: 40px;
    border: 2px solid #FF9A00;
    border-radius: 20px;
    color: #FF9A00;
    text-align: center;
    font-size: 16px;
}

.navigation-cards select option{
    font-size: 16px;
}

.container-cards{
    margin-left: 90px;
    margin-right: 90px;
    overflow: hidden;
}

.cards-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(1.7rem,2.1vw,2.5rem);
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #000000;
    justify-content: center;
    display: flex;
}

.navigation-cards{
    display: flex;
    margin-top: clamp(1rem,3.33vw,4rem);
}

.navigation-cards-ul{
    display: flex;
    gap: 48px;
    padding: 0;
}

.navigation-cards-li{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    list-style: none;
    cursor: pointer;
    transition: 200ms all ease;
}

.global-cards{
    margin-top: 32px;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    height: auto;
}

.card{
    display: inline-block;
    background-color: #DCDCDC;
    align-items: center;
    border-radius: 12px;
    transition: 300ms all ease;
    width: clamp(190px,11vw,230px);
    height: clamp(16rem,18.125vw,21.75rem);
}

.card-img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    height: clamp(7rem,7.8125vw,9.375rem);
}

.card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem,1.04vw,1.25rem);
    line-height: 24px;
    text-align: center;
    width: 156px;
    margin: 12px auto 0px auto;
    justify-content: center;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-separator{
    width: 180px;
    height: 2px;
    background: rgba(97, 97, 96, 0.31);
    border-radius: 20px;
    margin-top: clamp(0rem,1vw,1.25rem);
}

.card-info{
    display: flex;
    justify-content: space-between;
    margin-top: clamp(0rem,1vw,1.25rem);
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.pagination button{
    color: #FF9A00;
    background-color: #fff;
    width: 50px;
    height: 30px;
    border: 2px solid #FF9A00;
    border-radius: 10px;
}

.pagination button.active{
    background-color: #FF9A00;
    color: white;
}

.plus-icon {
    width: 20px;
    height: 20px;
    position: relative;
    background: #FF9A00;
    border-radius: 8px;
    padding: clamp(12px,0.8vw,16px);
  }
  
.plus-icon::before,
.plus-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    background-color: #fff;
}
  
.plus-icon::before {
    width: 11px;
    transform: translate(-50%, -50%);
}
  
.plus-icon::after {
    width: 10px;
    transform: translate(-50%, -50%) rotate(90deg);
}

.card-price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem,1.04vw,1.25rem);
    line-height: 24px;
    text-align: center;    
    margin: 0;
}

.card-global-button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 16px 42px;
    background: #FF9A00;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 64px;
}

.card:hover{
    background-color: #FF9A00;
    color: white;
    .plus-icon{
        background-color: white;
    }
    .plus-icon::before,
    .plus-icon::after{
        background-color: #FF9A00;
    }
}

.navigation-cards-li:hover{
    color: #FF9A00;
}

@media screen and (max-width:1410px) {
    .global-cards{
        justify-content: center;
    }
}

@media screen and (max-width: 1140px) {
    .container-cards{
        margin-right: 20px;
        margin-left: 20px;
    }
}



